body {
    background-color: rgba(49,49,49);
    font-family: 'Rubik', sans-serif;
    color: rgb(201, 201, 201);
    font-size: 2vh;
}

.mainpanel {
    background-color: rgb(36, 36, 36) ;
    width: 20vw;
    height: 30vh;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 2%;
}

.greeting {
    text-align: center;
    padding-top: 2vh;
}

.inputs {
    padding-left: 5vw;
    margin: 0.1vh;
}
input {
    background-color: rgb(77, 77, 77);
    border-style: solid;
    border-color: rgba(77,77,77);
    position: relative;
    left: 5vw;
    border-radius: 1vh;
    width: 9vw;
    height: 2vh;
}
.forgotpassword {
    font-size: 0.75em;
    text-align: center;
}